/* --- NAVBAR --- */

body {
    margin: 0;
}
  
.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: "Roboto";
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

#content {
    text-align: center;
}
/* --- TITLE --- */

h1 {
    text-align: center;
    font-family: "Roboto";
}

/* --- FORM --- */

form {
    text-align: center;
    font-family: "Roboto";
}

#filterButton {
    background-color: #04AA6D;
    border: none;
    color: white;
    font-family: "Roboto";
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

#filterButton:hover {background-color: #3e8e41}

#filterButton:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}

/* --- MAIN --- */

#list-content {
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Roboto";
}


/* --- TABLE --- */

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    width: 100%;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    padding: 10px;
    font-weight: bold;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td:last-of-type {
    text-align: center;
}
  
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

.deleteButton {
    background-color: #CD5C5C;
    border: none;
    color: white;
    font-family: "Roboto";
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}

.deleteButton:hover {background-color: #B22222}

/* --- POPUP --- */

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-decoration: none;
    font-family: "Roboto";
}

#popup.hidden {
    display: none;
}

#close-popup {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

ul {
    list-style: none;
}

.entitled {
    font-weight: bold;
}
